<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <a href="https://damp-hamlet-90118.herokuapp.com/v1/country/Peru">Enter country name in above url</a>
    <a href="https://damp-hamlet-90118.herokuapp.com/v1/score-range/from=7.5&to=9.9">Enter range of values for ladder score</a>
</body>
</html>